*{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body{
    background-color: #471515;
}

h1{
    font-size: 70px;
    background: linear-gradient(to right, #F09410, #c22248, #FFEAF0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.container-1{
    color: white;
    background-color: #892929;
    border-radius: 100px;
    width: 500px;
    box-sizing: content-box;
    box-shadow: 1px 9px 10px black;
}

.container-1 input{
    border-radius: 70px;
    box-shadow: 1px 9px 1px rgb(54, 20, 20);
background: linear-gradient(to right, #2c0000, #c22248, #FFEAF0);
    color: white;
}

img{
    position: relative;
    left: 500px;
    bottom: 600px;
    border-radius: 90px 0px 90px;
    box-shadow: 1px 1px 20px rgb(255, 125, 125);
}
