body{
    background-color: #471515;
}
img{
    width: 100%;
}
.image{
    overflow: hidden;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 1px 1px 10px #702D09;
}

.slider{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide{
    25%{
        transform: translateX(0);

    }
    30%{
        transform: translateX(-100%);
        
    }
    40%{
        transform: translateX(-100%);
        
    }
    50%{
        transform: translateX(-200%);
        
    }
    60%{
        transform: translateX(-200%);
        
    }
}

h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #F09410, #c22248, #FFEAF0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h1:hover{
    transform: translateY(10px);
    transition: 0.5s;
}

.container{
    font-size: 40px;
    
    font-family: 'Times New Roman', Times, serif;
    
}

.container a{
    text-decoration: none;
    color: #ffd69c;
    padding: 10px 20px;
    transition:  0.3s;
    text-align: center;

}

.container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.container a:hover{
        background: #c22248;
    color: #fff;
    border-radius: 70px;
}

footer{
    text-align: center;
    color: rgb(255, 255, 255);